<ion-view view-title="Producto Nuevo">
  <ion-content>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre del producto</span>
        <input type="text" ng-model="fi.name" required placeholder="Ingresa el nuevo nombre del producto" >
      </label>
      <br>
      <br>
      <br>
      <center>
        <button class="button button-large button-positive" ng-click="add()">
          Registrar
        </button>
      </center>
  </ion-content>
</ion-view>
