<ion-view view-title="Configuración" >
  <ion-content>

    <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Notificaciones</ion-toggle>
    <a class="item item-icon-left item-icon-right" ng-click="confi()">
      <i class="icon ion-card"></i> Gestión Máquinas
      <i class="icon  ion-ios-arrow-forward"></i>
    </a>
    <a class="item item-icon-left item-icon-right" ng-click="Message()">
      <i class="icon ion-android-time"></i> Tiempo de espera del gsm
      <i class="icon  ion-ios-arrow-forward"></i>
    </a>



  </ion-content>
</ion-view>
