<!--FRAME  INFORMACIÓN  MÁQUINARIA-->
<ion-view view-title="Menu ">
  <ion-content>
    <div class="list">

    <a class="item item-icon-left" href="#"  ng-click="showPopup()">
      <i class=" icon  ion-android-add-circle"></i>
      Agregar Producto Actual
    </a>

    <a class="item item-icon-left" href="#"   ng-click="veac()">
      <i class=" icon  ion-android-add-circle"></i>
      Agregar Producto Nuevo
    </a>

    <a class="item item-icon-left" href="#"   ng-click="infooo()">      <!--Traemelo:--->
      <i class=" icon  ion-android-add-circle"></i>
      Historial
    </a>

    <a class="item item-icon-left" href="#"   ng-click="Inmacion()">
      <i class=" icon  ion-android-add-circle"></i>
      Informe
    </a>
  </div>
  </ion-content>
</ion-view>
